div#yotei {
	background-color: rgb(96,160,192);
	border-radius: 30px;
	text-align: center;
    margin: 0 5%;
	padding: 5%;
}

div#yotei div {
	text-align: center;
}

#kube-features .row:nth-child(2) {
    padding-bottom: 32px;
    margin-bottom: 64px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
}

.scratch {
	text-decoration: none;
}

button {
    color: #ff3366;
    background-color: #ff6347;
}

/* pagetop */
.pagetop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 15px;
}
.pagetop a {
    display: block;
    background-color: #ccc;
    text-align: center;
    color: #222;
    font-size: 12px;
    text-decoration: none;
    padding: 5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.pagetop a:hover {
    display: block;
    background-color: #b2d1fb;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding:5px 10px;
	filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px !important;
    }

    h2 {
        font-size: 28px !important;
    }

	iframe {
		width: 100%;
	}

    i.kube-menu {
        font-size: 30px;
    }

    .locale {
        font-size: 10px !important;
    }
}